<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aqi dashboard</title>
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<body>
    <h1>Welcome to the AQI Dashboard</h1>
    <label for="city-select">Choose a city:</label>
    <select id="city-select">
        {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
    </select>

<label for="pollutant-select">Choose a pollutant:</label>
    <select id="pollutant-select">
        {% for pollutant in pollutants %}
            <option value="{{ pollutant }}">{{ pollutant }}</option>
        {% endfor %}
    </select>

    <div id="chart-container" style="width:800px; height:500px;"></div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>